{% load static %}
{% load core_tags %}
{% load dashboard_tags %}

<div class="table-responsive">
    <table class="audit-table">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">User</th>
                <th scope="col">Action</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in audit_entries %}
            <tr>
                <td>{{ entry.timestamp|format_date:"Y-m-d H:i:s" }}</td>
                <td>{{ entry.user.username }}</td>
                <td>{{ entry.get_action_display }}</td>
                <td>{{ entry.details }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
