# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space

# Python files
[*.py]
indent_size = 4
max_line_length = 88
single_quoted_strings = true

# Django HTML templates
[*.{html,htm,djhtml}]
indent_size = 2
max_line_length = 88


# JavaScript files
[*.{js,jsx,ts,tsx}]
indent_size = 2
max_line_length = 80

# CSS files
[*.{css,scss,sass,less}]
indent_size = 2
max_line_length = 80

# JSON files
[*.{json,jsonc}]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2
max_line_length = 80

# Dockerfile
[Dockerfile]
indent_size = 2
max_line_length = 88

# Dotenv files
[*.env*]
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Proto3 files
[*.proto]
indent_style = space
indent_size = 2
max_line_length = 80

# Tailwind config
[tailwind.config.js]
indent_size = 2
max_line_length = 80

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Makefiles require tabs
[Makefile]
indent_style = tab

# Shell scripts
[*.sh]
indent_size = 2

# Documentation
[*.rst]
indent_size = 4
max_line_length = 79

# Git commit messages
[COMMIT_EDITMSG]
max_line_length = 72

# Requirements files
[requirements*.txt]
indent_size = 4

# SQL files
[*.sql]
indent_size = 2
max_line_length = 80

# TOML files
[*.toml]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[pyproject.toml]
indent_size = 4
indent_style = space
max_line_length = 88

# Make files
[*.mk]
indent_size = 4
indent_style = tab

[Makefile]
indent_style = tab
max_line_length = 88

# Pseudocode files
[*.pseudo]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Fish shell scripts
[*.fish]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Jinja2 files
[*.jinja]
indent_size = 2
max_line_length = 88
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
