# Default behavior
* text=auto eol=lf

# Python files
*.py text diff=python
*.pyi text diff=python
*.pth text
*.ipynb text
MANIFEST.in text
setup.cfg text
setup.py text
pyproject.toml text
requirements*.txt text

# Scripts
*.sh text eol=lf
*.bash text eol=lf
Makefile text

# Configuration files
*.conf text
*.cfg text
*.ini text
*.toml text
*.yaml text
*.yml text
.editorconfig text
.dockerignore text
docker-compose*.yml text
Dockerfile text

# Git related
.gitconfig text
.gitignore text
.gitattributes text

# Encrypted files
*secret* filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
.snyk filter=git-crypt diff=git-crypt
.env* filter=git-crypt diff=git-crypt

# VS Code
.vscode/* text
*.json text

# Web files
*.js text diff=javascript
*.css text diff=css
*.htm text diff=html
*.html text diff=html

# Documentation
*.txt text
*.rst text
*.md text diff=markdown
LICENSE text

# Binary files
*.pkl binary
*.db binary
*.sqlite3 binary

# Graphics
*.svg text
*.ico binary
*.gif binary
*.jpg binary
*.png binary
*.pdf binary
