# Default behavior
* text=auto eol=lf

# Python files
*.py text diff=python
*.pyi text diff=python
*.pth text
*.ipynb text
MANIFEST.in text
setup.cfg text
setup.py text
pyproject.toml text
requirements*.txt text
*.typed text

# Django files
*.djhtml text diff=html
*.djt text diff=html
*.html text diff=html
*.htm text diff=html
*.jinja text diff=html
*.jinja2 text diff=html
migrations/*.py -diff

# Scripts
*.sh text eol=lf
*.bash text eol=lf
Makefile text

# Configuration files
*.conf text
*.cfg text
*.ini text
*.toml text
*.yaml text
*.yml text
.editorconfig text
.dockerignore text
docker-compose*.yml text
Dockerfile text
.babelrc text
.prettierrc text
.eslintrc text
.markdownlint-cli2.jsonc text
*.config.js text
tailwind.config.js text diff=javascript

# Git related
.gitconfig text
.gitignore text
.gitattributes text
.gitmessage text

# Frontend files
*.js text diff=javascript
*.jsx text diff=javascript
*.ts text diff=typescript
*.tsx text diff=typescript
*.css text diff=css
*.scss text diff=css
*.sass text diff=css
*.less text diff=css
*.svg text
*.htmx text diff=html
*.hyperscript text diff=javascript

# Encrypted files
*secret* filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
.snyk filter=git-crypt diff=git-crypt
.env* filter=git-crypt diff=git-crypt
\!.env.example
\!.env.vault

# VS Code
.vscode/* text
*.json text

# Documentation
*.txt text
*.rst text
*.md text diff=markdown
LICENSE text
*.pdf -diff

# Data formats
*.csv text
*.json text
*.xml text
*.xlsx binary
*.xls binary

# Protocol buffers
*.proto text diff=proto

# Binary files
*.pkl binary
*.db binary
*.sqlite3 binary

# Graphics
*.svg text
*.ico binary
*.gif binary
*.jpg binary
*.png binary
*.pdf binary
*.webp binary
*.avif binary

# Fonts
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.eot binary

# Audio/Video
*.mp3 binary
*.mp4 binary
