engine-strict=true
save-exact=true
audit=true
fund=false
package-lock=true
use-node-version=18.20.7
node-version-lockfile=true
strict-peer-dependencies=true
auto-install-peers=true
resolution-mode=highests
