asgiref==3.8.1
black==25.1.0
cffi==1.17.1
click==8.1.8
coverage==7.6.10
cryptography==41.0.7
debugpy==1.8.2
Django==5.1.5
django-appconf==1.0.6
django-compressor==4.5.1
EditorConfig==0.17.0
iniconfig==2.0.0
isort==6.0.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pycparser==2.22
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.9.0
python-dotenv==1.0.1
rcssmin==1.1.2
rjsmin==1.2.2
setuptools==75.8.0
sqlparse==0.5.3
wheel==0.45.1
whitenoise==6.8.2
