/* Button styles */

/* Buttons */
button,
[type='submit'],
[type='reset'],
[role='button'],
.btn-primary,
.btn-secondary,
.btn-danger,
.action-btn,
.quick-filter-btn {
  font-size: var(--greenova-button-size);
  font-weight: bold !important;
  min-height: 41px;
  max-height: 41px;
  border-radius: var(--greenova-border-radius);
  padding: var(--greenova-padding);

  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--greenova-green-tertiary);
    border-color: var(--greenova-green-tertiary)
  }
}

button#chat-toggle>span {
  font-weight: normal !important;
}

[role='menuitem'] {
  margin: 0px var(--greenova-spacing);
}


.btn-secondary {
  background-color: var(--greenova-green-secondary);
}

.btn-danger {
  background-color: var(--greenova-warning-background);
}

/* Add obligation button in navbar */
.add-obligation-btn {}

.add-obligation-btn:hover {}

.add-obligation-btn svg {
  width: 16px;
  height: 16px;
  fill: var(--greenova-text-primary-dark);
}

/* Form action buttons */
.form-actions {
  display: flex;
  gap: var(--greenova-spacing-small);
  margin-top: var(--greenova-spacing);
  padding-top: var(--greenova-padding);

}


/* Pico CSS Override */
nav li [role=button],
nav li [type=button],
nav li button,
nav li input:not([type=checkbox], [type=radio], [type=range], [type=file]),
nav li select {
  /* Keeps add obligation inline with other buttons */
  margin: 0;
}

a[role='button'] {
  /* Used to make it look more like a proper button */
  padding-top: 0.55rem !important;

}