/**************************************************
 *                                                *
 *          Non-theme  Specific  Colours          *
 *                                                *
 **************************************************/
:root,
:root[data-theme=light],
:root[data-theme=dark] {
  /**************************************************
    *                                                *
    *              Pico Defaults colours             *
    *
    * Basic colours used in the CSS, these are changed dynamic based on
    * the theme selected.
    *                                                *
    **************************************************/

  /* Button backgrounds*/
  --pico-primary-background: var(--greenova-green-primary) !important;

  /* Header background */
  --pico-secondary-background: var(--greenova-green-secondary) !important;

  /* Background Primary */
  --pico-background-color: var(--greenova-background-primary) !important;

  /* Container Backgrounds */
  --pico-card-background-color: var(--greenova-background-secondary) !important;

  /* Container Headers/Borders */
  --pico-card-border-color: var(--greenova-green-secondary) !important;
  --pico-card-sectioning-background-color: var(--greenova-green-secondary) !important;

  /* Titles */
  --pico-h1-color: var(--greenova-text-primary-dark) !important;

  /* Headers */
  --pico-h2-color: var(--greenova-text-secondary-dark) !important;
  --pico-h3-color: var(--greenova-text-secondary-dark) !important;
  --pico-h4-color: var(--greenova-text-secondary-dark) !important;
  --pico-h5-color: var(--greenova-text-secondary-dark) !important;
  --pico-h6-color: var(--greenova-text-secondary-dark) !important;
  --pico-color: var(--greenova-text-primary-dark) !important;

  /**************************************************
    *                                                *
    *              Notification  colours             *
    *                                                *
    **************************************************/

  /* Notification Primary High - Use Cases: Highest priority notification marker */
  --greenova-notif-primary-high: #FF1F1F;

  --greenova-warning-background: var(--greenova-notif-primary-high);
  --greenova-warning-text: #000000;

  --greenova-error-background: var(--greenova-notif-primary-high);
  --greenova-error-text: #000000;

  /* Notification Secondary High - Use Cases: outline of notification marker */
  --greenova-notif-secondary-high: #FFB6B6;

  /*Notification Primary Mid - Use Cases: Middle priority notification marker */
  --greenova-notif-primary-mid: #FAE100;

  --greenova-info-background: var(--greenova-notif-primary-mid);
  --greenova-info-text: #000000;

  /* Notification Secondary Mid - Use Cases: outline of notification marker */
  --greenova-notif-secondary-mid: #FFEF9C;

  /* Notification Primary Low - Use Cases: Lowest priority notification marker */
  --greenova-notif-primary-low: #2FC709;

  --greenova-success-background: var(--greenova-notif-primary-low);
  --greenova-success-text: #000000;
  /* Notification Secondary Low - Use Cases: outline of notification marker */
  --greenova-notif-secondary-low: #B1E5A4;

  --pico-mark-background-color: var(--greenova-notif-secondary-low);
  --pico-mark-color: #000000;





  /**************************************************
    *                                                *
    *                  Data colours                  *
    *                                                *
    **************************************************/

  /* Data Primary - Use Cases: Primary colour for data visualisations */
  --greenova-data-primary: #095256;

  /* Data Secondary - Use Cases: Secondary colour for data visualisations */
  --greenova-data-secondary: #477D80;

  /* Data Tertiary - Use Cases: Tertiary colour for data visualisations */
  --greenova-data-tertiary: #659395;

  /* Data Null - Use Cases: Colour for when data points are out of focus of the chart. */
  --greenova-data-null: #9C9F93;

}
