@import 'theme-light.css';
@import 'theme-dark.css';

/**************************************************
 *                                                *
 *          Non-theme  Specific  Colours          *
 *                                                *
 **************************************************/



:root[data-theme=light],
:root[data-theme=dark] {
  /**************************************************
   *                                                *
   *              Pico Defaults colours             *
   *
   * Basic colours used in the CSS, these are changed dynamic based on
   * the theme selected.
   *
   *                                                *
   **************************************************/

  /* Button backgrounds*/
  --pico-primary-background: var(--greenova-green-primary);

  /* Header background */
  --pico-secondary-background: var(--greenova-green-secondary);

  /* Background Primary */
  --pico-background-color: var(--greenova-background-primary);

  /* Container Backgrounds */
  --pico-card-background-color: var(--greenova-background-secondary);

  /* Container Headers/Borders */
  --pico-card-border-color: var(--greenova-green-secondary);
  --pico-card-sectioning-background-color: var(--greenova-green-secondary);

  /* Titles */
  --pico-h1-color: var(--greenova-text-primary-dark);

  /* Headers */
  --pico-h2-color: var(--greenova-text-secondary-dark);
  --pico-h3-color: var(--greenova-text-secondary-dark);
  --pico-h4-color: var(--greenova-text-secondary-dark);
  --pico-h5-color: var(--greenova-text-secondary-dark);
  --pico-h6-color: var(--greenova-text-secondary-dark);
  --pico-color: var(--greenova-text-primary-dark);

  /**************************************************
   *                                                *
   *              Notification  colours             *
   *                                                *
   **************************************************/

  /* Notification Primary High - Use Cases: Highest priority notification marker */
  --greenova-notif-primary-high: #FF1F1F;

  --greenova-warning-background: var(--greenova-notif-primary-high);
  --greenova-warning-text: #000000;

  /* Notification Secondary High - Use Cases: outline of notification marker */
  --greenova-notif-secondary-high: #FFB6B6;

  /*Notification Primary Mid - Use Cases: Middle priority notification marker */
  --greenova-notif-primary-mid: #FAE100;

  --greenova-info-background: var(--greenova-notif-primary-mid);
  --greenova-info-text: #000000;

  /* Notification Secondary Mid - Use Cases: outline of notification marker */
  --greenova-notif-secondary-mid: #FFEF9C;

  /* Notification Primary Low - Use Cases: Lowest priority notification marker */
  --greenova-notif-primary-low: #2FC709;

  --greenova-success-background: var(--greenova-notif-primary-low);
  --greenova-success-text: #000000;

  /* Notification Secondary Low - Use Cases: outline of notification marker */
  --greenova-notif-secondary-low: #B1E5A4;

  --pico-mark-background-color: var(--greenova-notif-secondary-low);
  --pico-mark-color: #000000;





  /**************************************************
   *                                                *
   *                  Data colours                  *
   *                                                *
   **************************************************/

  /* Data Primary - Use Cases: Primary colour for data visualisations */
  --greenova-data-primary: #095256;

  /* Data Secondary - Use Cases: Secondary colour for data visualisations */
  --greenova-data-secondary: #477D80;

  /* Data Tertiary - Use Cases: Tertiary colour for data visualisations */
  --greenova-data-tertiary: #659395;

  /* Data Null - Use Cases: Colour for when data points are out of focus of the chart. */
  --greenova-data-null: #9C9F93;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--greenova-text-secondary-dark);

  &:first-child {
    color: var(--greenova-text-primary-dark);
  }
}

header {
  background: var(--pico-secondary-background)
}

/* Element is used for placeholder text before you type. */
input[type='text']::placeholder

/*input, optgroup, select, textarea*/
  {
  color: var(--greenova-tertiary-dark);
  /* Mutable Text, for text box hints */
}

p,
article {
  color: var(--greenova-text-secondary-dark);
}

/* Navigation */
[role='navigation'],
[role='navigation'] [role="menuitem"] {
  background: var(--greenova-beige-primary);
  color: var(--greenova-text-primary-dark) !important;
}

[role='navigation'] [role="menuitem"][aria-current] {
  background: var(--greenova-beige-secondary);
}