{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}Greenova{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/pico.classless.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'components/header.html' %}
    {% block content %}{% endblock %}
    {% include 'components/footer.html' %}
    {% include 'partials/scripts.html' %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
