/* Import custom normaliser to fit our rules */
@import 'base.css';

/* Import Third-party libraries */
@import 'vendor/pico-classless.min.css';

/* Load themes */
@import 'components/theme-dark.css';
@import 'components/theme-light.css';

/* Main stylesheet that imports all modular components  */
@import 'components/colours.css';
@import 'components/design.css';
@import 'components/navigation.css';
@import 'components/button.css';
@import 'components/form.css';
@import 'components/card.css';
@import 'components/charts.css';
@import 'components/filter.css';
@import 'components/list.css';
@import 'components/obligations.css';
@import 'components/pagination.css';
