<div class="theme-switcher">
  <ul class="theme-container">
    {% for theme_name, theme_value in theme_options %}
      <li>
        <a href="#"
           data-theme-switcher="{{ theme_value }}"
           _="on click
              set $theme to '{{ theme_value }}'
              set document.documentElement.dataset.theme to '{{ theme_value }}' != 'auto' ? '{{ theme_value }}' : prefersDark ? 'dark' : 'light'
              localStorage.setItem('theme', $theme)
              call event.preventDefault()">
          {{ theme_name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
