{% load static %}
{% load core_tags %}
{% load accounts_tags %}

<form method="post"
      hx-post="{% url 'csrf_token' %}"
      hx-trigger="submit"
      hx-target="this">
    {% csrf_token %}
    <fieldset>
        <legend>Login</legend>
        <label for="username">
            Username
            <input type="text" id="username" name="username" required>
        </label>
        <label for="password">
            Password
            <input type="password" id="password" name="password" required>
        </label>
        <button type="submit">Login</button>
    </fieldset>
</form>
