-r requirements.in
-c constraints.txt
# Development dependencies
pytest==8.3.5
pytest-cov==6.1.1
pytest-django==4.11.1
pytest-stub==1.1.0
pytest-xdist==3.6.1
pycodestyle==2.13.0
django-stubs==5.2.0
django-stubs-ext==5.2.0
matplotlib-stubs==0.2.0
pandas-stubs==2.2.3.250308
types-Pillow==10.2.0.20240822
types-PyYAML==6.0.12.20250402
types-jinja2==2.11.9
types-python-dateutil==2.9.0.20241206
types-protobuf==6.30.2.20250506
types-pytz==2025.2.0.20250326
types-requests==2.32.0.20250328
types-setuptools==80.4.0.20250511
autopep8==2.3.2
bandit==1.8.3
black==25.1.0
build==1.2.2.post1
djlint==1.36.4
django-debug-toolbar==5.2.0
filelock==3.16.1
ipython==9.2.0
isort==6.0.1
mypy==1.15.0
pandoc==2.4
pip-tools==7.4.1
pre-commit==4.2.0
psutil==6.1.1
pydantic==2.9.2
pycparser==2.22
pyparsing==3.2.3
pyproject-hooks==1.2.0
pylint==3.3.7
pylint-django==2.6.1
ruff==0.11.9
safety==3.5.0
