# Merged from base.in
# Core Django dependencies
Django==5.2.1
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
astroid==3.3.10
asttokens==3.0.0
Authlib==1.5.2
autopep8==2.3.2
bandit==1.8.3
black==25.1.0
Brotli==1.1.0
build==1.2.2.post1
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
contourpy==1.3.2
coverage[toml]==7.8.0
cryptography==41.0.7
cssbeautifier==1.15.4
cycler==0.12.1
decorator==5.2.1
dill==0.4.0
distlib==0.3.9
django-allauth==65.8.0
django-appconf==1.1.0
django-browser-reload==1.18.0
django-cors-headers==4.7.0
django-csp==4.0
django-debug-toolbar==5.2.0
django-htmx==1.23.0
django-hyperscript==1.5.2
django-matplotlib==0.1
django-pandas==0.6.7
django-pb-model==0.3.3
django-pdb==0.6.2
django-select2==8.4.0
django-silk==5.3.2
django-stubs==5.2.0
django-stubs-ext==5.2.0
django-tailwind==4.0.1
django-template-partials==24.4
djlint==1.36.4
dparse==0.6.4
EditorConfig==0.17.0
execnet==2.1.1
executing==2.2.0
fido2==1.2.0
filelock==3.16.1
fonttools==4.58.0
gprof2dot==2025.4.14
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperscript-dump==1.0.4
identify==2.6.10
idna==3.10
iniconfig==2.1.0
ipython==9.2.0
ipython_pygments_lexers==1.1.1
isort==6.0.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.0
jsbeautifier==1.15.4
json5==0.12.0
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==4.0.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
matplotlib-stubs==0.2.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.15.0
mypy_extensions==1.1.0
narwhals==1.38.2
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
packaging==25.0
pandas==2.2.3
pandas-stubs==2.2.3.250308
pandoc==2.4
parso==0.8.4
patchelf==0.17.2.2
pathspec==0.12.1
pbr==6.1.1
pexpect==4.9.0
pillow==11.2.1
pip-tools==7.4.1
platformdirs==4.3.8
plotly==6.0.1
pluggy==1.5.0
plumbum==1.9.0
ply==3.11
pre_commit==4.2.0
prompt_toolkit==3.0.51
protobuf==6.30.2
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.19.1
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
pyparsing==3.2.3
pyproject_hooks==1.2.0
pytest==8.3.5
pytest-cov==6.1.1
pytest-django==4.11.1
pytest-stub==1.1.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
python-dotenv-vault==0.6.4
pytz==2025.2
PyYAML==6.0.2
qrcode==8.2
regex==2024.11.6
requests==2.32.3
rich==14.0.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.11.9
safety==3.5.0
safety-schemas==0.0.14
sentry-sdk==2.27.0
setuptools
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
stack-data==0.6.3
stevedore==5.4.1
tenacity==9.1.2
tomlkit==0.13.2
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.3
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-Pillow==10.2.0.20240822
types-protobuf==6.30.2.20250506
types-python-dateutil==2.9.0.20241206
types-pytz==2025.2.0.20250326
types-PyYAML==6.0.12.20250402
types-requests==2.32.0.20250328
types-setuptools==80.4.0.20250511
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uv==0.7.3
uvenv==3.9.2
uvicorn==0.34.2
uvicorn-worker==0.3.0
uvx==2.5.1
virtualenv==20.31.2
wcwidth==0.2.13
wheel==0.45.1
whitenoise==6.9.0
