{% extends "base.html" %}

{% load static %}

{% block title %}

  {% block auth_title %}
Authentication
  {% endblock auth_title %}

  - Greenova
{% endblock title %}

{% block meta_description %}
Greenova - Environmental Obligations Management System
{% endblock meta_description %}

{% block main %}
  <article>
    <header>
      <hgroup>
        <h1>

          {% block auth_heading %}
Authentication
          {% endblock auth_heading %}

        </h1>
        <h2>

          {% block auth_subheading %}
Secure access to your account
          {% endblock auth_subheading %}

        </h2>
      </hgroup>
    </header>

    {% block auth_actions %}
    {% endblock auth_actions %}

    <div class="auth-container">

      {% block auth_content %}
      {% endblock auth_content %}

    </div>
  </article>
{% endblock main %}

{% block footer %}
{{ block.super }}
{% endblock footer %}
