{% load static %}
{% load core_tags %}
<nav class="navbar">

  <ul class="navbar-nav">
    {% if request.user.is_authenticated %}
      <!-- Left side navigation -->
      <li class="navbar-nav-item">
{% include "layouts/_breadcrumbs.html" %}
      </li>
      <li class="navbar-nav-item">
        <a href="{% url 'users:profile' %}" class="navbar-nav-link">Profile</a>
      </li>
      <!-- Right side navigation -->
      <li class="navbar-nav-item navbar-right">
        <a href="{% url 'admin:index' %}" class="navbar-nav-link">Admin</a>
      </li>
      {% if request.user.is_staff %}
        <li class="navbar-nav-item navbar-right">
          <a href="{% url 'company:list' %}" class="navbar-nav-link">Companies</a>
        </li>
      {% endif %}
      <li class="navbar-nav-item navbar-right">
        <a href="#"
           class="navbar-nav-link"
           hx-post="{% url 'account_logout' %}"
           hx-target="body"
           hx-include="[name='csrfmiddlewaretoken']">Logout</a>
      </li>
    {% else %}
      <li class="navbar-nav-item navbar-left"><img src="{% static 'img/favicon.svg' %}" alt="Greenova Logo" /></li>
      <li class="navbar-nav-item navbar-right">
        <a href="{% url 'account_signup' %}" class="navbar-nav-link">Register</a>
      </li>
      <li class="navbar-nav-item navbar-right">
        <a href="{% url 'account_login' %}" class="navbar-nav-link">Login</a>
      </li>
    {% endif %}
  </ul>
</nav>
