/**************************************************
 *                                                *
 *          Non-theme  Specific  Colours          *
 *                                                *
 **************************************************/
:root,
:root[data-theme='light'],
:root[data-theme='dark'] {
  /**************************************************
    *                                                *
    *              Pico Defaults colours             *
    *
    * Basic colours used in the CSS, these are changed dynamic based on
    * the theme selected.
    *                                                *
    **************************************************/

  /* Button backgrounds*/
  --pico-primary-background: var(--greenova-green-primary) !important;

  /* Header background */
  --pico-secondary-background: var(--greenova-green-secondary) !important;

  /* Background Primary */
  --pico-background-color: var(--greenova-background-primary) !important;

  /* Container Backgrounds */
  --pico-card-background-color: var(
    --greenova-background-secondary
  ) !important;

  /* Container Headers/Borders */
  --pico-card-border-color: var(--greenova-green-secondary) !important;
  --pico-card-sectioning-background-color: var(
    --greenova-green-secondary
  ) !important;

  /* Titles */
  --pico-h1-color: var(--greenova-text-primary-dark) !important;

  /* Headers */
  --pico-h2-color: var(--greenova-text-secondary-dark) !important;
  --pico-h3-color: var(--greenova-text-secondary-dark) !important;
  --pico-h4-color: var(--greenova-text-secondary-dark) !important;
  --pico-h5-color: var(--greenova-text-secondary-dark) !important;
  --pico-h6-color: var(--greenova-text-secondary-dark) !important;
  --pico-color: var(--greenova-text-primary-dark) !important;

  /**************************************************
    *                                                *
    *              Notification  colours             *
    *                                                *
    **************************************************/

  /* Notification Primary High - Use Cases: Highest priority notification marker */
  --greenova-notif-primary-high: #ff1f1f;
  --greenova-warning-background: var(--greenova-notif-primary-high);
  --greenova-warning-text: #000;
  --greenova-error-background: var(--greenova-notif-primary-high);
  --greenova-error-text: #000;

  /* Notification Secondary High - Use Cases: outline of notification marker */
  --greenova-notif-secondary-high: #ffb6b6;

  /*Notification Primary Mid - Use Cases: Middle priority notification marker */
  --greenova-notif-primary-mid: #fae100;
  --greenova-info-background: var(--greenova-notif-primary-mid);
  --greenova-info-text: #000;

  /* Notification Secondary Mid - Use Cases: outline of notification marker */
  --greenova-notif-secondary-mid: #ffef9c;

  /* Notification Primary Low - Use Cases: Lowest priority notification marker */
  --greenova-notif-primary-low: #2fc709;
  --greenova-success-background: var(--greenova-notif-primary-low);
  --greenova-success-text: #000;
  /* Notification Secondary Low - Use Cases: outline of notification marker */
  --greenova-notif-secondary-low: #b1e5a4;
  --pico-mark-background-color: var(--greenova-notif-secondary-low);
  --pico-mark-color: #000;

  /**************************************************
    *                                                *
    *                  Chat colours                  *
    *                                                *
    **************************************************/
  --greenova-chat-user-background: #dedeff;
  --greenova-chat-user-color: #000;
  --greenova-chat-bot-background: #99f;
  --greenova-chat-bot-color: #000;

  /**************************************************
    *                                                *
    *                  Data colours                  *
    *                                                *
    **************************************************/

  /* Data Null - Use Cases: Colour for when data points are out of focus of the chart. */
  --greenova-data-null: #9c9f93;
}
